h1,h2{
    color: coral;
    font-style: italic;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornsilk;
   
    }
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

div{
    bottom: 0%;
}

ul{
    font-family: Tahoma, "Courier New", "Times New Roman";
    font-size: 12pt;
    font-weight:lighter;
    font-style: oblique;
}

ol{
    display: flex;
    flex-direction: column-reverse;
}

p::first-letter{
  font-size: 1.5em;  
}
 strong{
     color: blue;
     font-style: italic;
     font-weight: bold;
     font-size: larger;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
a{
    text-decoration:  none;
    color: #060f7c;
}
a:hover{
    color: rgb(202, 122, 3);
    text-decoration: underline;
}


